# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules
/.pnp
.pnp.js

# Build output
dist
dist-ssr
/build

# Testing
/coverage

# Editor / OS
.DS_Store
*.local
.idea

# Env
.env
.env*.local

# Misc
*.pem
*.tsbuildinfo
